body {
  background-color: grey;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  padding-top: 2em;
  margin: 0 auto; 
}

.sec1 {
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  height: 100%;
  width: 100%;
  background: url("https://s26.postimg.org/wpvktfj09/dark_embroidery.png");
  border: 0.5em solid #595959;
  background-size: fill;
  box-shadow: 10px 10px 2em 0.5em #262626;
  }

h1 {
  color: white;
  vertical-align: middle;
  padding-bottom: 0.25em;
  text-shadow: 0.05em 0.05em 4px #cccccc;
  font-family: Futura;
  font-size: 4em;
}

h4 {
  color: #1a1a1a;
  vertical-align: middle;
  color: white;
  font-family: Futura;
  font-size: 2em;
}

.sec2row {
  height: 100%;
  width: 100%;
  background: url("https://s26.postimg.org/wpvktfj09/dark_embroidery.png");
  border-top: 0;
  border-bottom: 0.5em solid #595959;
  border-left: 0.5em solid #595959;
  border-right: 0.5em solid #595959;
  background-size: fill;
  box-shadow: 10px 10px 2em 0.5em #262626;
  padding-bottom: 2.2em;
}

.sec2 {
  height: 300px;
}

p {
  margin-top: 3.5em;
  color: white;
  font-family: Futura;
  font-size: 1.2em;
}

.sec2half {
  display: inline-block;
  height: 300px;
}

.floating {
  height: 100px;
  vertical-align: middle;
}

.sec2img {
  height: 300px;
  width: 400px;
  border-radius: 50px;
  margin-top: 50px;
  border: 5px solid #cccccc;
}

.sec3 {
  height: 100%;
  width: 100%;
  background: url("https://s26.postimg.org/wpvktfj09/dark_embroidery.png");
  border-top: 0;
  border-bottom: 0.5em solid #595959;
  border-left: 0.5em solid #595959;
  border-right: 0.5em solid #595959;
  background-size: fill;
  box-shadow: 10px 10px 2em 0.5em #262626;
  padding-top: 2.5em;
  padding-bottom: 3.7em;
  }

.portfoliotext {
  color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h2 {
  color: white;
  padding-bottom: 0.5em;
   text-shadow: 0.05em 0.05em 4px #cccccc;
  font-family: Futura;
  font-size: 3em;
}

h5 {
  color: white;
  padding-bottom: 2em;
  font-family: Futura;
  font-size: 1.5em;
}

.imgrow1 {}

.site1 {
  height: 18em;
  width: 20em;
}

.site1img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 10px solid #1a1a1a;
}

.site2 {
  height: 18em;
  width: 20em;
}

.site2img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 10px solid #1a1a1a;
}

.site3 {
  height: 18em;
  width: 20em;
}

.site3img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 10px solid #1a1a1a;
}

.buttons {
  padding-top: 3em;
  align: middle;
}

.facebook {
  border: 1px solid white;
  border-radius: 10px;
  margin-right: -15.2em;
  padding: .25em;
  font-size: 1.5em;
}

.linkedin {
  border: 1px solid white;
  border-radius: 10px;
  margin-left: -28.1em;
  padding: .25em;
  font-size: 1.5em;
}

.col-md-4 {
  margin: -2em;
  margin-top: -2.8em;
  
}

.github {
  border: 1px solid white;
  border-radius: 10px;
  margin-right: -23.45em;
  padding: .25em;
  font-size: 1.5em;
}

.codepen {
  border: 1px solid white;
  border-radius: 10px;
  margin-right: -1.39em;
  padding: .25em;
  font-size: 1.5em;
}

.fcc {
  border: 1px solid white;
  border-radius: 10px;
  margin-left: -20.25em;
  padding: .25em;
  font-size: 1.5em;
}

a {
  color: white;
}



